/*
For: 1708px * 1132px (Surface Pro 3);
*/
* {
	font-family: sans-serif;
}

.body-wrapper{
	display: none;
}

.body-wrapper.active{
	display:inline
}

body {
/*
	height/width - 4		
	*/
	width: 1416px;
	height: 940px;
    border: 2px solid;
}

.body-overlay{
    opacity: 0.7;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

.init-message{
    position: fixed;
    top: 50%;
    left:50%;
    width: 400px;
    height: 180px;
    margin-top: -90px;
    margin-left: -200px;
    background-color: white;
    z-index:10;
    font-size: 40px;
    text-align: center;
}

.init-message p{
    margin: 0;
    line-height: 180px;
}

header.machine-view-header {
	width: auto;
	height: 40px;
	padding-left: 5px;
}

.header-content{
	display:inline-block;
	line-height: 40px;
	height:40px;
}		

.version-container  {
	width: 300px;
	padding-left: 10px;
}

.playing-container  {
	width: 400px;
}

.status-container  {
	width: 200px;
	padding: 0 10px 0 10px;
	float:right;
}

.status-container.running  {
	background-color: green;
}

main {
	/* -30 from header and -4 for bottom and top border */
	height: calc(70% - 40px - 4px);
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:2px;
}

main div#main-left {
	width: 85%;
	float: left;
	border-right-style:solid;
	border-width:2px;
	height: 100%;
	background-color: gray;
}

/* Style the tab */
.tab {
	overflow: hidden;
	background-color: white;
	padding-left:2px;
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 20px 25px;

	border-radius: 5px 5px 0 0;
	background-color: #ccc;
	font-size: 20px;
	margin-top: 3px;
}

.tab button + button {
	margin-left: 2px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: gray;

}

/* Style the tab content */
.tabcontent {
	width: 100%;
	display: none;
	height: calc(100% - 66px);
	background-color: gray;
}

/* Style the tab content */
.tabcontent.active {
	display:block;
}

.outer-tab-content{
	width: 100%;
	display: none;
	height: calc(100% - 66px);
	background-color: gray;
}

.outer-tab-content.active{
    display: block;
}

#overview  {
    background: url("images/turntables.svg") no-repeat center;
}

#axis-X-and-Y  {
    background: url("images/axis.svg") no-repeat center;
}

#main-sidebar {
	width:15%;
	margin-left: 85%;
	height: 100%;

}

.sidebar-container{
	padding:10px;
}

#main-sidebar ul.value-list{
	list-style-type: none;
	padding: 0 5px;
	font-size: 17px;
    margin: 20px 0 0;
}

#main-sidebar ul li{
	min-height:30px;
	line-height:30px;
}


#main-sidebar ul li label{
	display: inline-block;
	width: 160px;
}		

#main-sidebar ul li input{
	width: 40px;
	text-align: center;
	vertical-align: top;
	margin-top:4px;
}

#main-sidebar ul li h5{
	margin: 0;
}

footer {
	height: 30%;
	width: 100%;
}

.footer-container{
	height: calc(100% - 30px);
    padding: 20px 20px 10px;
}

footer div.top-row, footer div.middle-row  {
	height: calc(50%  - 35px);
}

footer div.top-row{
	padding-bottom: 10px;
}

footer div.middle-row  {
	padding-top: 10px;
}

footer div.bottom-row  {
	width: 1254px;
	height: 50px;
	padding: 5px 10px 5px 10px;
	line-height:50px;
	font-size: 20px
}	

footer div.bottom-row input  {
	height: 30px;
	width: 80%;
}	

footer div.control-button  {
	height: 100%;
	width: 14%;
	display: inline-block;
	box-shadow: 2px 2px 2px black;
	vertical-align: top;
}

footer div.control-button.right-side  {
	float:right;
}

div.control-button + div.control-button  {
	margin-left: 10px;
}

div.control-button.right-side + div.control-button.right-side {
	margin-right: 10px;
	margin-left: 0;
}

div.control-button a  {
	display:block;
	/* Adjust height and width to padding*/ 
	height: calc(100% - 26px);
	padding:13px 10px 13px 10px;
	background-color: gray;
}

div.control-button a:active { 
	background-color: #4E4E4E;
}

div.control-button.start a {
	background-color: green;
}

div.control-button.start a:active {
	background-color: #006400;
}

div.control-button.stop a {
	background-color: red;
}

div.control-button.stop a:active {
	background-color: #C60000;
}

div.control-button.auto a {
	background-color: #ffff00;
}

div.control-button.auto a:active {
	background-color: #C6C600;
}

div.control-button a p  {
	display: inline-block;
    line-height: 100%;
	height: 100%;
    margin: 0 0 0 20px;
    text-decoration: none;
	color: black;
	vertical-align: middle;
	font-size: 25px;
}

div.control-button img {
	height: calc(100%);
}

.control-button.without-icon a p {
	font-size: 30px;
}

h1   {
	color: blue;
}

header.player-view-header{
	height: 15%;
}

.player-view-header div{
	height: 100%;
}

.notification-header{
    position: absolute;
    top: 9px;
    left: 9px;
    width: 1416px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
    display: none;
    text-align: center;
}

.mantra{
	width: 70%;
	float:left;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 89,100 100,0 0,0' style='fill:%234295f4;' /%3E%3C/svg%3E");
	background-repeat: no-repeat;
	padding-right: 100px;
	text-align: center;
}

.mantra h1{
	color: white;
	font-size: 50px;
}

.logo{
	width:30%;
	margin-left: 70%;
	background: url('images/logo.png') no-repeat center;
}

#player-view .controls{
	height: 85%;
}

.album-selection-wrapper{
    display: none;
}

.left-side{
	width: 70%;
	float: left;
    display: none;
}

.left-side.active{
    display: block;
}

.right-side{
	width: 30%;
	margin-left: 70%
}

.vinyl-arm-section{
	height: 75%;
    width: 80%;
    padding: 0 10%;
}

.vinyl-container{
    width:80%;
    display:inline-block;
	background-image: url("images/record-plate.PNG");
	background-position: center;
	background-size: 90%;
	background-repeat: no-repeat;
    float:left;
}

.song-controls{
	height:24%;
    margin-bottom: 1%;
}

.song-controls div.top-row,
.song-controls div.bottom-row{
    height: 50%;
    text-align:center
}

div.centered-container{
    display: inline-block;
    margin: 5px 0;
    height: calc(100% - 10px);
}

.centered-container .button-container{
    height: 72px;
    display: inline-block;
    width: 72px;
    margin:10px;
}

.song-controls img{
    height: 100%;
}

.arm-container{
    display: inline-block;
    width: 20%;
    background: url('images/sound-arm.jpg') center no-repeat;
    background-size: 250px;
}

.playlist-controls{
	height:70%;
    padding-top: 1px;
    margin-top: -1px;
}

.playlist-control-buttons{
    width:20%;
    float:left;
    position: relative; /* To center the child div */
}

.playlist-control-buttons .inner div{
    height: 80px;
    width: 80px;
    background-repeat:no-repeat;
}

.playlist-button + .playlist-button{
    margin-top: 5px;
}

.outer{
    position: relative;
    height: 100%;
}

.inner{
    width: 100%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.vertically-centered-container{
    width: 90%;
    height: 243px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.vertically-centered-container .button-container{
    width: 65px;
    height:65px;
    margin:6px;
}

.song-selection{
    width: calc(80% - 20px - 4px);
    margin-left:20%;
    margin-top: 35px;
    height: calc(100% - 35px - 4px);
    border-radius: 5px;
    background-color: #4295f4;
    /*border: 2px solid black; */
    color: white;
}

.song-selection-container{
    padding:  10px 20px 20px 20px;
}

.song-selection-header{
    height: 60px;
    line-height: 60px;
    background-color: #1A7FEF;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    padding-left: 20px;
}

.song-selection-header *{
    display: inline-block;
    vertical-align: top;
}

.song-selection-header h2{
    margin: 0;

}

.song-selection-header div{
    margin: 7px;
    height: 46px;
    width: 46px;
}

.song-selection small{
    opacity: 0.7;
}

.song-selection-container h3{
    margin: 0;
    font-size: 22px;
}

.song-selection-container li:hover{
    background-color: #1A7FEF;
}

.repeat-button{
    background-image: url("images/refresh.svg");
    background-position: center;
    background-size: 75px;
}

.repeat-button.active{
    /* background-image: url("images/refresh_white.png"); */
    background-color: #34F841;
    border-radius: 5px;
}

.reload-button{
    background-image: url("images/reload.svg");
    background-position: center;
    background-size: 75px;
}

.reload-button.active{
    /* background-image: url("images/reload_white.png"); */
    background-color: #34F841;
    border-radius: 5px;
}

.auto-button{
    background-image: url("images/auto.svg");
    background-position: center;
    background-size: 75px;
}

.auto-button.active{
    /* background-image: url("images/auto_white.png"); */
    background-color: #34F841;
    border-radius: 5px;
}

.list-with-title ul{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0;
}

.list-with-title li{
    line-height: 30px;
    font-size: 20px;
}

.list-with-title h4{
    margin-top: 15px;
    margin-bottom: 7px;
    font-size: 20px;
    display: inline-block;
}

.misc-control{
	height: 30%;
}

.misc-control .top-row,
.misc-control .bottom-row{
    height: calc(50% - 30px);
    padding: 20px;
    margin-left: 100px;
}

.misc-control .top-row{
    padding-bottom: 10px;
}

.misc-control .bottom-row{
    padding-top: 10px;
}

.misc-control .button-container{
    width: 69px;
    height: 69px;
    margin: 6px;
    display: inline-block;
}

.album-list-wrapper{
    height: calc(60% - 60px);
    width: calc(100% - 120px);
    margin: 30px 60px;
}

.album-list-wrapper div{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-left: 4px;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
}

.preview-wrapper{
    margin: 20px;
    height: calc(40% - 20px);
}

.preview-wrapper > div{
    height: 85%;
    display: inline-block;
    vertical-align: top;
    width: 33%
}

.preview-side-A{
    text-align: right;
}

div.preview-album-information{
    width: 100%;
    height: 15%;
    font-size: 20px;
    text-align: center;
    border-top: 2px solid black;
    line-height:44px;
}

div.preview-album-cover{
    width: calc(33% - 60px);
    margin: 0 30px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.preview-wrapper .play-button {
    height: 40px;
    width: 40px;
    background-image: url('images/play-button.svg');
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.height-filling{
	height:100%;
}

.width-filling{
	width:100%;
}





